
<div id="stacktilebox" data-id="<%= this.model.tileable.tiletype %>" >
  <img src="<%= this.model.tileable.image_url %>"></img>

  <div id="stackoverlay">
    <div class="stacktilename">
    <p style = "font-size:18px;"><%= this.model.tileable.name %></p> <br>
    <%= startdate %> - <%= enddate %>
  </div>
    <div class="stackyelpstars">
      <img src="<%= this.model.tileable.yelp_stars_url %>"></img>
    </div>
  </div>
   

</div>