
<div id="stacktilebox" data-id="<%= this.model.tileable.tiletype %>" >
  <img src="<%= this.model.tileable.image_url %>"></img>

  <div id="stackoverlay">
    <div class="stacktilename">
    <%= this.model.tileable.name %>
  </div>
    <div class="stackyelpstars">
      <img src="<%= this.model.tileable.yelp_stars_url %>"></img>
    </div>
  </div>
   <%= startdate %>
   <%= enddate %>

</div>