<div class="box-header">
 <div class="row-fluid">
  <div class="title">
    <h4>#<%= this.model.name %></h4>
    <%= date %>
  </div>
  <div class="avatarstack" style="float:right;">
    <%=this.model.user.first_name%> <%=this.model.user.last_name%>
    <img class="avatar-small" src="<%=this.model.user.image_url_small%>">
  </div>
</div>
</div>

<div id="stackresults" class="box-content padded">

</div>