<!DOCTYPE html>
<html>
<head>
  <title>Stacker</title>
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= csrf_meta_tags %>

  <%= javascript_include_tag "application" %>

  <script type="text/javascript"
  src="https://maps.googleapis.com/maps/api/js?key=AIzaSyCGWlVKhl5vwogbFLmGgZF5-EIh3WUfg-8&sensor=false">
  </script>
  <script type="text/javascript">

  <% if user_signed_in? %>
  window.currentUser = {
    id : "<%=current_user.id%>"
  }
  <% end %>

  </script>

</head>
<body>
  <div class="navbar navbar-top navbar-inverse">
    <div class="navbar-inner">
      <div class="container-fluid">

        <a class="brand" href="#">Stacker</a>

        <!-- the toggle buttons. notice the data-targets on them, they point to the topbar/sidebar -->

        <ul class="nav pull-right">
         <!--  <li class="toggle-primary-sidebar hidden-desktop" data-toggle="collapse" data-target=".nav-collapse-primary"><a><i class="icon-th-list"></i></a></li> -->
         <li class="collapsed hidden-desktop" data-toggle="collapse" data-target=".nav-collapse-top"><a><i class="icon-align-justify"></i></a></li>
       </ul>

       <div class="nav-collapse nav-collapse-top">
        

        <% if user_signed_in? %>


        <ul class="nav full pull-right">
          <li class="dropdown user-avatar">

            <!-- the dropdown has a custom user-avatar class, this is the small avatar with the badge -->

            <a href="#" class="dropdown-toggle" data-toggle="dropdown">
              <span>
                <img class="menu-avatar" src="<%= current_user.image_url_small%>" /> <span>

                <% full_name = current_user.first_name + " " + current_user.last_name %>
                <%= full_name %> <i class="icon-caret-down"></i></span>
                <!--  <span class="badge badge-dark-red">5</span> -->
              </span>
            </a>

            <ul class="dropdown-menu">

              <!-- the first element is the one with the big avatar, add a with-image class to it -->

              <li class="with-image">
                <div class="avatar">
                  <img src="<%= current_user.image_url%>" />
                </div>
                <span><%= full_name %></span>
              </li>

              <li>
                <span><%= link_to destroy_user_session_path, method: "delete" do %></span>
                <i class="icon-off"></i>
                Log Off
                <% end %>
              </li>
            </ul>
          </li>
        </ul>
        <ul class="nav pull-right">

          <li><a id="createStack" title="Manage users"><i class="icon-user"></i> Create Stack</a></li>
          <li><a id="showStacks" title="Go home"><i class="icon-home"></i> My Stacks </a></li>
          <li><a id="showUsers" title="Manage users"><i class="icon-user"></i>Friend's Stacks</a></li>
        </ul>
        <% else %>
        <ul class="nav pull-right">
        <li><a href="/users/" id="createStack" title="Manage users" data-toggle="modal"><i class="icon-user"></i> Sign In</a></li>
        <li><a href="#register" id="showStacks" title="Go home" data-toggle="modal"><i class="icon-home"></i> Sign Up </a></li>
      </ul>
        <% end %>


      </div>
    </div>
  </div>
</div>

<!-- <div id="calendar">
</div>
-->
<div id="modalpop"></div>

<section id="content">

  <%= yield %>
</section>

<script>
$(document).ready(function(){
  $('.carousel').carousel({
    interval: 3000
  });

  $("#login-register").click(function() {
    $("#login").modal('hide');
    $("#register").modal('show');
});

});
</script>

<%= javascript_include_tag "backbone" if @backbone %>

</body>
</html>
